.body {
    position: absolute;
    right: 0;
    top: 0;
    width: 84%;
    display: flex;
    flex-direction: column;
    background-color: #5a5d5f;
}
.allPosts {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 3% 0 3%;
}